* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #414141;
  background-color: #EEEEEE;
}

@media only screen and (min-width: 961px)
{
  h1, h2, h3 {
    width:19.5%;
    margin: auto;
    text-align: center;
    padding: 1%;
  }

  h4 {
    width: 15.6%;
    text-align: center;
    padding: 1%;
  }

  .subheader-container {
    display: flex;
    justify-content:space-around;
  }

  .content-container {
    display:flex;
    justify-content:space-between;
    margin-left: 1.15%;
    margin-right: 2.3%;
  }

  p {
    text-align: center;
  }

  .content-container p {
    width: 27.3%;
    text-align: center;
  }

  .content-container ul {
    list-style-type: circle;
  }

  .navigation-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #32c29e;
    border-top: 1px solid #414141;
    border-bottom: 1px solid #414141;
  }

  .navigation-bar li a {
    float:left;
    display: block;
    background-color: #32c29e;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
    color: #414141;
    width: 19.5%;
    text-align: center;
    border-right: 1px solid #414141;
  }

  .navigation-bar li a:hover {
    background-color: #31b090;
  }

  .navigation-bar li a:active {
    background-color: #3cd6b0;
  }

  .button {
    display: block;
    float: left;
    background-color: #32c29e;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #414141;
    border-radius: 100px;
    color: #414141;
    width: 200px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .button:hover {
    background-color: #31b090;
  }

  .button:active {
    background-color: #3cd6b0;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 960px)  {
  h1, h2, h3 {
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 1%;
  }

  h4 {
    width 24%;
    text-align: center;
  }

  .subheader-container {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin: 1%;
  }

  .content-container {
    display:flex;
    justify-content:space-between;
    margin-left: 1.15%;
    margin-right: 2.3%;
  }

  .content-container p {
    width: 27.3%;
    text-align: center;
  }

  .content-container ul {
    list-style-type: circle;
    margin: 1%;
  }

  .navigation-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #32c29e;
    border-left: 1px solid #414141;
    border-right: 1px solid #414141;
  }

  .navigation-bar li a {
    display: block;
    background-color: #32c29e;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
    color: #414141;
    text-align: center;
    border-bottom: 1px solid #414141;
  }

  .navigation-bar li a:hover {
    background-color: #31b090;
  }

  .navigation-bar li a:active {
    background-color: #3cd6b0;
  }

  .button {
    display: block;
    background-color: #32c29e;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: .8%;
    border: 1px solid #414141;
    color: #414141;
  }

  .button:hover {
    background-color: #31b090;
  }

  .button:active {
    background-color: #3cd6b0;
  }
}
